# Autosave files
*.asv
*.m~
*.autosave
*.slx.r*
*.mdl.r*

# Derived content-obscured files
*.p

# Compiled MEX files
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Deployable archives
*.ctf

# Generated helpsearch folders
helpsearch*/

# Code generation folders
slprj/
sccprj/
codegen/

# Cache files
*.slxc

# Cloud based storage dotfile
.MATLABDriveTag
*.czi
visualization/metadata.txt
*.tiff
data/IHCT_THT48_slice01-03_IHCT05_10x08x_overview_tile_stacks_A488_brainstem_overview.png
data/IHCT_THT48_slice01-03_IHCT05_10x08x_overview_tile_stacks_A488_brainstem-Alexa Fluor 488_overview.png
*.tif
